<% layout('layouts/boilerplate')%>
<div class="book-heading"><h1><%=authorInfo.name%></h1></div>
<div class="book-info">
    <div class="book-info-img"> 
        <% if(authorInfo.photos){ %>
            <img src="https://covers.openlibrary.org/a/id/<%=authorInfo.photos[0]%>-M.jpg" alt="">
        <% } else{%>  
                <h4>Preview not available</h4>
        <%}%>
    </div>
    <div class="book-info-content">
        <div><strong>Name:</strong> <%-(authorInfo.name)? authorInfo.name:"Unknown Author"%></div>
        <div><strong>Bio: </strong><%- (authorInfo.bio)?(authorInfo.bio.value||authorInfo.bio) :"Not available"%></div>
        <div><strong>Birth Date: </strong><%- (authorInfo.birth_date)?authorInfo.birth_date : "Not available"%></div>
        <div><strong>Death Date:</strong> <%- (authorInfo.death_date)?authorInfo.death : "Not available"%></div>
        <div><strong>ISNI ID:</strong> <%- (authorInfo.remote_ids && authorInfo.remote_ids.isni)?authorInfo.remote_ids.isni : "Not available"%></div>
        <div><% if(authorInfo.links && authorInfo.links[0].url){ %><strong>Link: </strong><a href="<%=authorInfo.links[0].url%>"><%=authorInfo.links[0].url%></a><%}%></div>
        <div><% if(authorInfo.wikipedia){ %><strong>Wikipedia: </strong><a href="<%=authorInfo.wikipedia%>"><%=authorInfo.wikipedia%></a><%}%></div>
      </div>
</div>

